<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
</style>

<div class="w3-content" style="max-width:1100px">
    
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
      </div>
  
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Hotel</h1><br>
        <h5 class="w3-center">Your Perfect Accommodation</h5>
        <p class="w3-large">Hotel Management system offers comfortable accommodation with a wide variety of rooms, additional services, and amenities available all our guests.</p>
        <p class="w3-large w3-text-grey w3-hide-medium">Our hotel has a wide variety of greatly furnished and fully equipped rooms for every guest. Whether you are travelling on busiess or with family, we have what you need to enjoy your stay.</p>
      </div>
    </div>
    
    <hr>
    
    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
      <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">PERFECT SERVICES</h1><br>
        <h4>Room Service</h4>
        <p class="w3-text-grey">Complete Room Service menu available 24 hours a day.</p><br>
      
        <h4>Airport Shuttle For Free</h4>
        <p class="w3-text-grey">We meet our guests at the airport and take them to the hotel if needed.</p><br>
      
        <h4>Free Wi-Fi</h4>
        <p class="w3-text-grey">Our free Wi-Fi internet service is available 24-hours in lobby, meeting room, facilities and guest rooms to hel you stay connected wherever you are.</p><br>
      
       
      </div>
      
      <div class="w3-col l6 w3-padding-large">
        <img src="https://www.ahstatic.com/photos/9399_ho_00_p_1024x768.jpg" alt="Menu" style="width:100%">
      </div>
    </div>
    <div class="w3-container w3-padding-64" id="contact">
      <h1>Contact</h1><br>
      <h6>E-Mail:services@hotelmanagementsystem.com</h6>
      <h6>Phone:+91-9123456789</h6>
      <h6>Address:Hotel Management System,1/11 Gandhi Street,Chennai,600001</h6>
      
    </div>
    ​​<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15547.798651943362!2d80.2471937!3d13.0388761!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedb11f5553e1c048!2sRevature!5e0!3m2!1sen!2sin!4v1630171930459!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <hr>
  
    <!-- Contact Section -->
    
    
  <!-- End page content -->
  </div>
  <h6 style="text-align: center;">Revature © Copyright 2021</h6>
  
  <!-- Footer -->
